<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puzzle game</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Correctly label the boxes</h1>

            <p>You know that each is labeled incorrectly. You may ask me to pick one fruit from one box which you
                choose.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">{% block content %}{% endblock %}</div>
    </div>
</div>
{% if debug %}
    <footer class="container-fluid" style="position: absolute;bottom: 0;width: 100%;font-size: 0.8em;">
        {% for log in debug %}
            <p class="alert alert-info">{{ log }}</p>
        {% endfor %}
    </footer>
{% endif %}
</body>
</html>