{% extends "base.twig" %}
    {% block info %}
        <p>You know that each box is labeled incorrectly. You may ask me to pick one fruit from one box which you
            choose.</p>
    {% endblock %}
    {% block content %}
        <form>
            <div class="row">
                {% for key, box in boxes %}
                    <div class="col-xs-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Box {{ key }}</div>
                            <div class="panel-body">
                                <p class="text-center"> {{ box.label }}</p>
                                <button type="submit" class="btn btn-block btn-primary" name="selectedBox"
                                        value="{{ key }}">
                                    Pick a fruit from box
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    {% endblock %}
