{% extends "base.twig" %}

    {% block content %}
        <div class="alert alert-danger" role="alert">Labeling is incorrect</div>
        <form>
            <button type="submit" value="1" class="btn btn-block btn-primary" name="tryAgain">
                Try again
            </button>
        </form>
    {% endblock %}